h1,thead,.canvas1,.canvas2{
    border: 8px solid black;
}

form{
    top: auto;
    font-family: Arial, Helvetica, sans-serif;
    width: 30%;
    position: relative;
    left: 30%;
    height: 80%;
}

input{
    position: relative;
    width: 50%;
    height: 8%;
    left: 30%;
}

button{
    position: relative;
    left: 30%;
    width: 50%;
    height: 5%;
    background-color: greenyellow;
}

h1{
    position: relative;
    left: 29.8%;
    width: 30%;
    top: 0%;
}

.canvas{
    background-color:aliceblue;
    position: absolute;
    top: 0%;
    left: 25%;  
    height: 90%;
    width: 40%;
    visibility: visible;
}

.canvas1,.container{
    position: absolute;
    top: 100%;
    left: 10%;
    background-color: aliceblue;
}
.canvas2{
    position: absolute;
    top: 200%;
}